.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    position: relative;
    background-color: #282c34;
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-height: 70vh;
    max-height: 80vh;
    max-width: 60%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-size: 1.8rem;
      margin: 1rem 0;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    button {
      background-color: #4a90e2;
      border: none;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: block;
      margin: 0 auto;
      color: white;

      &:hover {
        background-color: #4a90e2;
      }
    }

    .hint-grid {
      display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-template-rows: repeat(var(--rows), 1fr);
      width: 100%;
      max-width: 300px;
      aspect-ratio: var(--columns) / var(--rows);
      gap: 4px;
    }

    .hint-row {
      display: contents;
    }

    .hint-cell {
      aspect-ratio: 1 / 1;
      background-color: #ccc;

      &.revealed {
        background-color: #4a90e2;
      }
    }

    .silhouettes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 25px;
        height: 25px;
        filter: brightness(0%);

        &.used {
          filter: invert(100%) brightness(1000%);
        }
      }
    }

    .silhouette-count {
      margin-top: 0.5rem;
      font-size: 1.2rem;
    }

    .player-name {
      font-size: 1.7rem;
      font-weight: bold;
    }

    .guess-count {
      font-size: 1.2rem;
    }

    .result-container {
      text-align: center;
    }

    .result {
      font-size: 1.8rem;
      font-weight: bold;
    }

    .info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .stats {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      gap: 0.5rem;

      .stats-title {
        font-size: 1.5rem;
        font-weight: bold;
        display: block;
      }
      .games-played {
        font-size: 1rem;
      }

      .streak-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        height: 22px;
        text-align: center;
      }

      p {
        font-size: 1rem;
        margin: 0 0 1px;
      }

      .stats-row {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .stats-value {
        text-align: center;
        min-width: 10px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .button-container {
      display: flex;
      justify-content: center;
    }
  }
}

.countdown-timer {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #4a4a4c;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 10px;
}
